<?xml version="1.0" encoding="utf-8" ?>
<plugin id="oneweb-playme-plugin" version="0.0.1" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>oneweb-playme-plugin</name>
    <description>PlayMe plugin</description>
    <keywords>cordova, webview</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- Web View -->
    <js-module src="www/playmePlugin.js" name="playme">
        <merges target="playme" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
        <feature name="WebViewPlugin" >
            <param name="android-package" value="avalant.playme.webview.WebViewPlugin"/>
        </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="avalant.playme.webview.WebViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="adjustResize" android:exported="true">
        </activity>
        </config-file>

        <source-file src="src/android/avalant/playme/webview/WebViewPlugin.java" target-dir="src/avalant/playme/webview" />
        <source-file src="src/android/avalant/playme/webview/WebViewActivity.java" target-dir="src/avalant/playme/webview" />
        <source-file src="src/android/avalant/playme/webview/SubscribeExitCallback.java" target-dir="src/avalant/playme/webview" />
    </platform>
</plugin>