<?xml version="1.0" encoding="utf-8" ?>
<plugin id="oneweb-playme-plugin" version="0.0.1" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>oneweb-playme-plugin</name>
    <description>PlayMe plugin</description>
    <js-module name="Playme" src="www/oneweb-playme-plugin.js">
        <clobbers target="Playme" />
    </js-module>
    <dependency id="kunder-cordova-plugin-webview" url="git+https://github.com/kunder-lab/cl.kunder.webview.git" />
</plugin>